@using BEANlayer;
@model  List<PortfolioBEAN>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .myclass {
        color: #df0f2e;
        font-size: 15px;
        font-weight: 600;
    }
</style>
<h2>Portfolio Performance </h2>
<!--             Title text,        View name,          Controller name-->
@Html.ActionLink("Add to Portfolio", "PortfolioRegister", "Portfolio", new { @class = "myclass" });

<table class="table">
    <thead class="">
        <tr>
            <th >Ticker_Symbol</th>
            <th>Company</th>
            <th>Unit Cost</th>
            <th>Total Cost</th>
            <th>Shares</th>
            <th>Holding_Period  in_days</th>
            <th>Market Price</th>
            <th>Market Value</th>
            <th>Gain/Lost</th>
            <th>Return %</th>
            <th>Exchange</th>
            <th>% Portfolio</th>
        </tr>
    </thead>
    <br />
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.ticker_Symbol</td>
            <td>@item.companyName</td>
            <td align="right">@Decimal.Round(item.unitCost, 2)</td>
            <td align="right">@Decimal.Round(item.totalCost, 2)</td>
            <td align="right">@item.sharesQuantity</td>
            <td align="right">@item.holdingPeriodinDays</td>
            <td align="right">@Decimal.Round(item.marketPrice, 2)</td>
            <td align="right">@Decimal.Round(item.marketValue, 2)</td>
            <td align="right">@Decimal.Round(item.gainLost, 2)</td>
            <td align="right">@Decimal.Round(@item.returned, 2)</td>
            <td align="center">@item.exchangeCode</td>
            <td align="right">@Decimal.Round(item.portfolioPercentage, 2)</td>

        </tr>
        }
    </tbody>
</table>

@if ((string)Session["Login"] == "admin")
{
<div>
    <hr />
    @Html.ActionLink("Back to Users List", "Index", "LoginUsers")
    
</div>
}

