@using BEANlayer;
@{
    ViewBag.Title = "PortfolioRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Portfolio - Trading Tool</h2>
@using (Html.BeginForm("CreatePortfolio", "Portfolio"))
{
<article>
    <br />
    <label pad>Ticker-Symbol</label>
    <input name="tickerSymbol" type="text" placeholder="ticker-symbol" />
    <br />

    <label>Company</label>
    <input type="text" name="company" placeholder="company name" />
    <br />

    <label>Unit Cost</label>
    <input type="number" name="unitCost" min="0" placeholder="unit cost" step="0.01" />
    <br />

    <label>Quantity</label>
    <input type="number" name="quantity" placeholder="quantity" />
    <br />

    <label>Market Price</label>
    <input type="number" name="price" min="0" placeholder="buy price" step="0.01" />
    <br />

    <label>Spread - Post Market Increase</label>
    <input type="number" name="spread" min="0" placeholder="spread" step="0.01" />
    <br />

    <label>Buy Date</label>
    <input type="date" name="buyDate" />
    <br />

    <label>Pay Dividends?</label>
    <select name="payDividends" id="payDividends">
        <option value="select" disabled selected>Select</option>
        <option value="no">No</option>
        <option value="yes">Yes</option>
    </select>
    <br />

    <label>Target Price</label>
    <input type="number" name="targetPrice" min="0" placeholder="target price " step="0.01" />
    <br />

    <label>Target Percentage</label>
    <input type="number" name="targetPercentage" min="0" placeholder="target percentage" step="0.01" />
    <br />

    <label>Aim Price</label>
    <input type="number" name="aimPrice" min="0" placeholder="aim price " step="0.01" />
    <br />

    <label>Sold Price</label>
    <input type="number" name="soldPrice" min="0" placeholder="soldPrice" step="0.01" />
    <br />

    <label>Sold Date</label>
    <input type="date" name="soldDate" />
    <br />


    <label>Choose a Exchange</label>
    <select name="exchangeID">
        <option value="select" disabled selected>Select a Exchange Market</option>
        @foreach (var item in (List<ExchangeBEAN>)ViewData["DisplayExchange"])
        {
            <option value="item.exchangeID">@item.exchangeDescription</option>
        }
        <!--
            <option value="nasdap" selected>NASDAQ</option>
            <option value="nyse">NYSE </option>
            <option value="otc">OTC</option>
            <option value="neo">NEO </option>
            <option value="tsx">TSX</option>
        -->
    </select>
    <br />

    <label>Choose a Transaction Type</label>
    <select name="statusID">
        <option value="select" disabled selected>Select a Transaction Type</option>
        @foreach (var item in (List<ShareStatusBEAN>)ViewData["DisplayShareStatus"])
        {
            <option value="item.statusID">@item.statusDescription</option>
        }
    </select>
    <br />

    <label>Finantial Market</label>
    <select name="finantialMarketID">
        <option value="select" disabled selected>Select a Finantial Market </option>
        @foreach (var item in (List<FinantialMarketBEAN>)ViewData["DisplayFinantialMarket"])
        {
            <option value="item.finantialMarketID">@item.finantialMarketCode</option>
        }
    </select>
    <br />

    <label>Source</label>
    <select name="sourceID">
        <option value="select" disabled selected>Select a Source Information</option>
        @foreach (var item in (List<SourceBEAN>)ViewData["DisplaySource"])
        {
            <option value="item.sourceID">@item.sourceCode</option>
        }
    </select>
    <br />


    <label>Sector</label>
    <select name="sectorID">
        <option value="select" disabled selected>Select a Sector </option>
        @foreach (var item in (List<SectorBEAN>)ViewData["DisplaySector"])
        {
            <option value="item.sectorID">@item.sectorDescription</option>
        }
    </select>
    <br />


    <label>Industry</label>
    <select name="industryID">
        <option value="select" disabled selected>Select an Industry </option>
        @foreach (var item in (List<IndustryBEAN>)ViewData["DisplayIndustry"])
        {
            <option value="item.industryID">@item.industryDescription</option>
        }
    </select>
    <br />

    <input type="submit" value="Register" class="btn btn-success" />
    <input type="reset" value="Reset" class="btn btn-success" />
</article>
}